.env
backend/.env
frontend/.env
__pycache__/
*.py[cod]
*.db
*.sqlite
*.sqlite3
.venv/
venv/
.pytest_cache/
node_modules/
dist/
build/
backend/cache/
backend/*.log
android_app/out/
*.apk
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
